<div class="about row">

    <div class="col-md-8">

        <h2><a href="/assets/files/Shaoyun_CV.pdf">My CV</a></h2>

        <h2>Contact</h2>
        
        <ul>
            <li style="font-size: 18px;">Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li style="font-size: 18px;">Google Scholar<a href="{{ https://scholar.google.com/citations?user=oqbB9WkAAAAJ&hl=en }}">{{ https://scholar.google.com/citations?user=oqbB9WkAAAAJ&hl=en }}</a></li>
            <li style="font-size: 18px;">Phone: +1 (573) 489 9584</li>
        </ul>
        
        <h2>Educational Background</h2>
        <ul>
            <li style="font-size: 18px;"><strong>Ph.D.</strong>, Mechanical Engineering, University of Missouri, Columbia, MO. Expected July 2025</li>
                <p class="dissertation" style="font-size: 16px;">Dissertation: "Wave propagation in elastic time-varying media"</p>
            <li style="font-size: 18px;"><strong>M.S.</strong>, Theoretical Physics, Ningbo University, Ningbo, China. June 2019.</li>
                <p class="dissertation" style="font-size: 16px;">Dissertation: "Simulation of mixing charged brushes under external electric fields"</p>
            <li style="font-size: 18px;"><strong>B.S.</strong>, Engineering Mechanics, Ningbo University, Ningbo, China. June 2016.</li>
        </ul>



        <h2>Skill Keywords</h2>

        {% if site.skill_programming_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_simulation_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Simulation</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_simulation_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_drawing_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Drawing</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_drawing_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Design_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Design</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Design_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        <img src="assets/images/IMG_018512.png" style="width: 100%; border-radius: 4px 4px 0 0;">
    </div>

    

    <!-- <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div> -->

</div>