<div class="about row">

    <div class="col-md-8">

        <h2>CV (<a href="/assets/files/Shaoyun_CV.pdf">PDF</a>)</h2>

        <h2>Contact</h2>
        
        <ul>
            <li style="font-size: 17px;">Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li style="font-size: 17px;">Google Scholar: <a href="https://scholar.google.com/citations?user=oqbB9WkAAAAJ&hl=en">https://scholar.google.com/citations?user=oqbB9WkAAAAJ&hl=en</a></li>
            <li style="font-size: 17px;">Phone: +1 (573) 489 9584</li>
        </ul>
        
        <h2>Educational Background</h2>
        <p style="font-size: 17px;  text-indent: 0;"><strong>Ph.D.</strong>, Mechanical Engineering, <strong>University of Missouri</strong>, Columbia, MO. Expected July 2025</p>
          <p style="font-size: 16px;  text-indent: 1;">  Dissertation: "Wave propagation in elastic time-varying media"</p>
        <p style="font-size: 17px;  text-indent: 0;"><strong>M.S.</strong>, Theoretical Physics, <strong>Ningbo University</strong>, Ningbo, China. June 2019.</p>
          <p style="font-size: 16px;  text-indent: 1;">  Dissertation: "Simulation of mixing charged brushes under external electric fields"</p>
        <p style="font-size: 17px;  text-indent: 0;"><strong>B.S.</strong>, Engineering Mechanics, <strong>Ningbo University</strong>, Ningbo, China. June 2016.</p>

        <h2>Research Experience</h2>


        <p style="font-size: 20px;  text-indent: 0;"> <strong>University of Missouri</strong>                              (January 2020 - Present)</p>
        <ul>
            <li style="font-size: 17px;"> Wave propagation in time-varying and space-varying media (Prof. Guoliang Huang)</li>
            <li style="font-size: 17px;"> Non-Hermitian, nonlinear, and topological physics (Prof. Guoliang Huang and Emil Prodan)</li>
            <li style="font-size: 17px;"> Non-Hermitian, nonlinear, and topological physics (Prof. Guoliang Huang and Emil Prodan)</li>
            <li style="font-size: 17px;"> Use FEA to study multiphysics fields of soft materials and electronics (Prof. Zheng Yan and Jian Lin)</li>
        </ul>

        <p style="font-size: 20px;  text-indent: 0;"> <strong>Ningbo University</strong>                        (January 2020 - Present)</p>
        <ul>
            <li style="font-size: 17px;  text-indent: 0;"> Molecular dynamics and Monte Carlo simulation of charged brushes (Prof. Chaohui Tong)</li>
            <li style="font-size: 17px;  text-indent: 0;"> Mindlin plate theory with temperature biasing field(Prof. Ji Wang)</li>
        </ul>


        <h2>Teaching Experience</h2>
        
        <p style="font-size: 20px;  text-indent: 0;"> <strong>Teaching Assistant</strong>, 2022 - Present</p>
        <ul>
            <li style="font-size: 17px;  text-indent: 0;"> MAE 3100: Computational methods for engineering design </li>
            <li style="font-size: 17px;  text-indent: 0;"> MAE 4990: Undergraduate research in mechanical and aerospace engineering </li>
        </ul>

        <p style="font-size: 20px;  text-indent: 0;"> <strong>Undergraduate Capstone Project Advisor</strong>, Spring 2021</p>
        <ul>
            <li style="font-size: 17px;  text-indent: 0;"> MAE 3100: Computational methods for engineering design </li>
            <li style="font-size: 17px;  text-indent: 0;"> MAE 4990: Undergraduate research in mechanical and aerospace
                engineering </li>
        </ul>

        <h2>Awards and Achievements</h2>
        <ul>
            <li style="font-size: 17px;  text-indent: 0;"> Second Place in the ASME Noise Control and Acoustics Division Student
                Paper Competition, 2023 </li>
            <li style="font-size: 17px;  text-indent: 0;"> Student best paper finalists, Academic Forum of Mechanics between
                Ningbo University and Zhejiang University, 2018</li>
            <li style="font-size: 17px;  text-indent: 0;"> Student best paper finalists, Symposium on Piezoelectricity
                Acoustical Theory and
                Device Application, 2016</li>
        </ul>

        <h2>Presentations</h2>
        <ul>
            <li style="font-size: 17px;  text-indent: 0;"> Topological surface acoustic wave, International Mechanical Engineering Congress Exposition, New Orleans, October 2023</li>
            <li style="font-size: 17px;  text-indent: 0;"> Smart patterning for topological pumping of surface waves, SPIE Smart Structures + NDE, Los Angeles, March 2023</li>
        </ul>


        <h2>Skill Keywords</h2>

        {% if site.skill_programming_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_simulation_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Simulation</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_simulation_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_drawing_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Drawing</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_drawing_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Design_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Design</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Design_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        <img src="assets/images/IMG_018512.png" style="width: 100%; border-radius: 4px 4px 0 0;">
    </div>

    

    <!-- <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div> -->

</div>