<div class="about row">

    <div class="col-md-8">

        <h2>CV (<a href="/assets/files/Shaoyun_CV.pdf">PDF</a>)</h2>

        <h2>Contact</h2>
        
        <ul>
            <li style="font-size: 17px;">Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li style="font-size: 17px;">Google Scholar: <a href="https://scholar.google.com/citations?user=oqbB9WkAAAAJ&hl=en">https://scholar.google.com/citations?user=oqbB9WkAAAAJ&hl=en</a></li>
            <li style="font-size: 17px;">Phone: +1 (573) 489 9584</li>
        </ul>
        
        <h2>Educational Background</h2>
        <p style="font-size: 17px;  text-indent: 0;"><strong>Ph.D.</strong>, Mechanical Engineering, <strong>University of Missouri</strong>, Columbia, MO. Expected July 2025</p>
          <p style="font-size: 16px;  text-indent: 1;">  Dissertation: "Wave propagation in elastic time-varying media"</p>
        <p style="font-size: 17px;  text-indent: 0;"><strong>M.S.</strong>, Theoretical Physics, <strong>Ningbo University</strong>, Ningbo, China. June 2019.</p>
          <p style="font-size: 16px;  text-indent: 1;">  Dissertation: "Simulation of mixing charged brushes under external electric fields"</p>
        <p style="font-size: 17px;  text-indent: 0;"><strong>B.S.</strong>, Engineering Mechanics, <strong>Ningbo University</strong>, Ningbo, China. June 2016.</p>

        <h2>Research Experience</h2>


        <p style="font-size: 18px;  text-indent: 0;"> <strong>University of Missouri</strong>                              (January 2020 - Present)</p>

        <p style="font-size: 17px;  text-indent: 0;"> <strong>Wave propagation in time-varying and space-varying media</strong> (Prof. Guoliang Huang)</p>
        <ul>
            <li style="font-size: 16px;">Utilize the WKB method to develop ray theory for wave propagation in time-varying media </li>
            <li style="font-size: 16px;"> Observe temporal refraction and reflection of flexural waves </li>
            <li style="font-size: 16px;"> Establish the Chern number of k-bands and design a platform to observe temporal edge modes </li>
            <li style="font-size: 16px;"> Develop adiabatic theory and design structures for observing topological pumping of surface waves </li>
        </ul>
        <p style="font-size: 17px;  text-indent: 0;"> <strong>Non-Hermitian, nonlinear, and topological physics </strong>(Prof. Guoliang Huang and Emil Prodan)</p>
        <ul>
            <li style="font-size: 16px;">Formulate source-driven homogenization for active non-Hermitian Willis metabeams </li>
            <li style="font-size: 16px;">Developing homogenization theory for lattice and active Materials </li>
            <li style="font-size: 16px;">Create a 2D microtwist theory for modeling hinged Kagome lattices </li>
        </ul>
        <p style="font-size: 17px;  text-indent: 0;"> <strong>Non-Hermitian, nonlinear, and topological physics </strong>(Prof.
            Guoliang Huang and Emil Prodan)</p>
        <ul>
            <li style="font-size: 16px;">Design active metamaterials to achieve odd mass density </li>
            <li style="font-size: 16px;"> Develop theoretical frameworks of topological mode and skin mode in non-Hermitian
                lattices </li>
            <li style="font-size: 16px;"> Design elastic structures to observe spectral flow with Frieze Group symmetries </li>
        </ul>
        <p style="font-size: 17px;  text-indent: 0;"> <strong>Use FEA to study multiphysics fields of soft materials and electronics </strong>(Prof. Zheng Yan and Jian Lin)</p>
        <ul>
            <li style="font-size: 16px;">Simulate large deformation, contact interactions, thermal-flow couplings, and multi-phase flow dynamics </li>
        </ul>

        <p style="font-size: 18px;  text-indent: 0;"> <strong>Ningbo University</strong>                        (January 2020 - Present</p>
        
        <p style="font-size: 17px;  text-indent: 0;"> <strong>Molecular dynamics and Monte Carlo simulation of charged brushes</strong>
            (Prof. Chaohui Tong)</p>
        <ul>
            <li style="font-size: 16px;">Develop comprehensive MD and MC programs in Fortran, each consisting of nearly 5000 lines of code
            </li>
            <li style="font-size: 16px;"> Develop a cell list algorithm for MC simulation, incorporating particle creation and annihilation </li>
        </ul>
        <p style="font-size: 17px;  text-indent: 0;"> <strong>Mindlin plate theory with temperature biasing field</strong> (Prof. Ji Wang)</p>
        <ul>
            <li style="font-size: 16px;">Identify optimal quartz cuts for stable temperature performance </li>
            <li style="font-size: 16px;">Investigate the aging behavior of quartz resonators </li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_programming_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_simulation_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Simulation</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_simulation_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_drawing_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Drawing</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_drawing_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Design_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Design</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Design_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        <img src="assets/images/IMG_018512.png" style="width: 100%; border-radius: 4px 4px 0 0;">
    </div>

    

    <!-- <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div> -->

</div>