<div id="container-open-source">
    <!-- <section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
        <div class="container">
            <div id="jumbotron-meta-info">
                <h1>Open Source Projects</h1>
                <span class="meta-info">
                    Here are some projects that I worked on.
                </span>
            </div>
        </div>
    </section> -->

    <section class="container">
        <div class="repo-list row">
            <!-- 卡片 7 -->
            <div class="col-md-12 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/fig1_time.png" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Observe Temporal Refraction in Elastic Beams</h3>
                        <div class="card-description">
                            <p class="card-text">Direct physical observation of temporal wave refraction in elastic medium has been challenging for decades due to the
                            requirement for rapid and uniform changes in material properties. This study reports the first experimental
                            demonstration of temporal refraction of flexure waves in a continuous mechanical system. By integrating piezoelectric
                            patches with time-varying transfer functions, frequency conversions of flexural wave refraction and reflection are
                            observed experimentally in a time-modulated elastic metabeam featuring single and multi-stepped temporal interfaces.
                            These results are well interpreted using temporal Snell’s law and Fresnel’s equations for temporal interfaces. These
                            findings could provide a new temporal framework for mechanical metamaterials, enabling unconventional wave manipulation,
                            such as adaptive waveform shaping and advanced signal processing technologies.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 6 -->
            <div class="col-md-12 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/topological_pumping.png"
                            alt="Card Image 1" style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Topological Pumping of Surface Waves</h3>
                        <div class="card-description">
                            <p class="card-text">Topological pumping enables waves to traverse a sample unaffected by
                                disorders or defects. We demonstrate this with elastic surface waves by patterning an
                                elastic surface with resonating pillars connected by slowly varying bridges, forming a
                                synthetic dimension. Using a tight-binding model and WKB analysis, we predict and
                                validate the wave-steering pattern through experiments. These topologically pumped waves
                                remain immune to imperfections, offering a powerful platform for controlling surface
                                waves and exploring topological phenomena.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 5 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/frieze_group" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Topological spectral bands with frieze groups</h3>
                        <div class="card-description">
                            <p class="card-text">This paper explores how architected materials can be designed using frieze group symmetries to generate specific
                            topological spectral bands. The study uses tools from operator algebra and K-theory to analyze the spectral properties
                            of these materials. It demonstrates how different topological charges are assigned to spectral bands, providing
                            practical methods for spectral engineering. The research offers insights into constructing metamaterials with stable
                            topological dynamics that can be adapted for experimental use. </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 4 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/odd_density.png" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Odd mass density</h3>
                        <div class="card-description">
                            <p class="card-text">This paper investigates active metamaterials with an odd mass density tensor,
                                created by asymmetric active forces. These
                                forces enable non-Hermitian wave behaviors, including directional amplification and non-reciprocal
                                propagation, where
                                waves travel in one direction only. The study also explores the non-Hermitian skin effect, showing
                                wave localization at
                                boundaries, offering insights for wave control in applications like vibration management and
                                structural health
                                monitoring.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 4 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/twisted_kagome.png" alt="Card Image 1"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Odd mass density</h3>
                        <div class="card-description">
                            <p class="card-text">This paper develops a microtwist theory to model the topological polarization and zero modes in hinged Kagome lattices.
                            It extends traditional models by accounting for bending, shear, and stretching deformations in the ligaments that
                            connect rigid triangles. Through both theoretical analysis and experimental validation, the study demonstrates how these
                            lattices exhibit non-uniform deformation and asymmetric wave behaviors. The findings offer insights into designing
                            metamaterials with programmable mechanical properties.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 3 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/cell_list_construct.png" alt="Card Image 4"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Cell List Algorithms for Monte Carlo Simulation</h3>
                        <div class="card-description">
                            <p class="card-text">
                                This paper introduces a cell lists method using doubly linked lists for efficient Monte Carlo
                                simulations. It improves
                                particle insertion, deletion, and nonlocal moves (e.g., pivot, reptation) where Verlet lists
                                struggle. With O(N)
                                complexity, the method efficiently handles large displacements in polymer simulations and Metropolis
                                algorithms.
                                Validated through Lennard-Jones fluid simulations, it offers better memory efficiency and
                                scalability than traditional
                                methods.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 2 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/Research_11.jpg" alt="Card Image 3"
                            style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Finding Temperature Insensitive Quartz Resonator Cuts</h3>
                        <div class="card-description">
                            <p class="card-text">AT, FC, IT and SC resonators are widely used since their excellent
                                frequency-temperature characteristic that the first two derivatives of
                                frequency-temperature relation are zero, namely have cubic frequency temperature
                                function. In this paper, we combine the theory and optimization and gain many cuts
                                curves including those existing cuts and the corresponding inflection temperature covers
                                a large range of temperature.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片 1 -->
            <div class="col-md-6 card text-center">
                <div class="thumbnail">
                    <!-- 手动添加图片 -->
                    <div class="card-image">
                        <img src="assets/images/coverpage_soft_matter.png"
                            alt="Card Image 4" style="width: 100%; border-radius: 4px 4px 0 0;">
                    </div>
                    <div class="caption">
                        <!-- 手动添加的名称 -->
                        <h3 class="card-title">Molecular Simulation of Charged Brushes</h3>
                        <div class="card-description">
                            <p class="card-text">
                            This paper investigates the behavior of branched polyelectrolyte star brushes under external electric fields using Langevin dynamics simulations. It focuses on how polymer conformation, electrostatic interactions, and
                            stratification are influenced by the interplay between the electric field and charged polymer chains. The study
                            provides insights into polymer structure, screening effects, and dynamic responses, offering valuable contributions to the understanding of soft matter systems and applications involving electro-responsive materials.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        // Enable bootstrap tooltip (if needed)
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>