<h3 class="sidebar-title">Research Projects</h3>

<div class="repo-list row">
    <!-- 卡片 1 -->
    <div class="col-md-4 card text-center">
        <div class="thumbnail">
            <!-- 手动添加图片 -->
            <div class="card-image">
                <img src="https://raw.github.com/wangshaoyun/image/master/202210061436117.jpeg" alt="Card Image 1"
                    style="width: 100%; border-radius: 4px 4px 0 0;">
            </div>
            <div class="caption">
                <h3 class="card-title">Project Name 1</h3>
                <div class="card-description">
                    <p class="card-text">This is a description for the first project. It provides information about the
                        content.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 卡片 2 -->
    <div class="col-md-4 card text-center">
        <div class="thumbnail">
            <!-- 手动添加图片 -->
            <div class="card-image">
                <img src="https://raw.github.com/wangshaoyun/image/master/202304221754868.png" alt="Card Image 2"
                    style="width: 100%; border-radius: 4px 4px 0 0;">
            </div>
            <div class="caption">
                <h3 class="card-title">Project Name 2</h3>
                <div class="card-description">
                    <p class="card-text">This is a description for the second project. It provides information about the
                        content.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 卡片 3 -->
    <div class="col-md-4 card text-center">
        <div class="thumbnail">
            <!-- 手动添加图片 -->
            <div class="card-image">
                <img src="https://raw.github.com/wangshaoyun/image/master/202304221754868.png" alt="Card Image 3"
                    style="width: 100%; border-radius: 4px 4px 0 0;">
            </div>
            <div class="caption">
                <h3 class="card-title">Project Name 3</h3>
                <div class="card-description">
                    <p class="card-text">This is a description for the third project. It provides information about the
                        content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Enable bootstrap tooltip (if needed)
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
</script>